/*
css reset
==============================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style-position: inside;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:focus,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

/*
main elements
=======================================
*/
body {
    line-height: 1.4;
}
h1 {
    font-weight: 700;
    color: #4a4949;
}

h2 {
    font-weight: 700;
    color: #4a4949;
}

h3 {
    font-weight: 700;
    color: #4a4949;
}

h4 {
    font-weight: 700;
    color: #4a4949;
}

p {
  color: #4a4949;
}
/*
=======================================
*/


html {
    font-size: 120%;
    background: #ffffff; /* white */
    color: #000000; /* black */
    font-family: 'Open Sans', sans-serif;
}

body{

}

header{
  display: block;
  text-align: center;
}
.headerBoje{
  width:30%;
}
.headerLogoTypo{
  width:60%;
}

.headerMenu {
  list-style-type: none;
  margin-right: 2rem;
  margin-top: 0.2rem;
  font-size: 1.5rem;
}

.headerMenu li {
  display: inline-block;
}
.headerMenu li a{
  text-decoration: none;
  font-weight: 300;
  color: #4a4949;
  margin-left: 1rem;
}

.headerMenu:after{
content: '';
display: block;
clear: both;
}

.menuWrapper {
  position: fixed;
  z-index: 99999999;
  right: 0;
  width:auto;
}

article {
  margin-right:5%;
  margin-left:5%;
}
article section{
  padding:1em;
}

.articleSeperator{
  position:relative;
  z-index: 999;
  margin:-1.25pt;
  margin-right: 5%;
  margin-left: 5%;
  height: 2.5pt;
  background-image: url(../images/grenzlinie.svg);
  background-repeat: repeat-x;

}

.articleSeperator2{
  position:relative;
  z-index: 999;
  height: 10pt;
  background-image: url(../images/kartenkante.svg);
  background-repeat: repeat-x;
}

.about{

}

.map{

}

.participateMenu{

}

.faq{

}
.faqList{

}
.faqList details{
  margin:1em;
  display:block;
}
.faqList:before{
margin-right:1em;
margin-left:1em;
content: '?';
display: block;
line-height: 1;
float: right;
font-size: 12em;
font-weight: bold;
color: #d91b2a;
color: rgba(217, 27, 42, 0.5);
}

.faqList:after{
  content: '';
display: block;
clear: both;
}

.contact{

}

footer {
  background-color: #9a9a9a;
}

footer div {
  margin-right: 5%;
  margin-left: 5%;
}
