/*
css reset
==============================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style-position: inside;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:focus,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

/*
=======================================
*/
html {
    font-size: 120%;
    background: #ffffff; /* white */
    color: #000000; /* black */
    font-family: 'Open Sans', sans-serif;
}

body{

}

header{
  display: block;
  text-align: center;
}
.headerBoje{
  width:30%;
}
.headerLogoTypo{
  width:60%;
}

.headerMenu {
  position: fixed;
  right: 0;
  list-style-type: none;
  margin-right: 2rem;
  margin-top: 0.2rem;
  font-size: 1.5rem;
}

.headerMenu li {
  display: inline-block;
}
.headerMenu li a{
  text-decoration: none;
  font-weight: 300;
  color:#d91b2a;
  margin-left: 1rem;
}

article {
  margin-right:5%;
  margin-left:5%;
}
article section{
  padding:1em;
}

.articleSeperator{
  position:relative;
  z-index:99999999;
  margin:-1.25pt;
  margin-right: 5%;
  margin-left: 5%;
  height: 2.5pt;
  background-image: url(../images/grenzlinie.svg);
  background-repeat-y: inherit;

}

.about{

}

.map{

}

.participateMenu{

}

.faq{

}

.contact{

}

footer {
  background-color: #474747;
}

footer div {
  margin-right: 5%;
  margin-left: 5%;
}
